<ion-content class="cont">
    <div class="main">
        <div class="logo">
            <ion-img src="../../assets/img/logo.png"></ion-img>
        </div>
        <div class="icon">
            <div class="app_text">
                <span class="app_text_first">Get</span> Discount
                <p class="app_text_small">Experiences a world of food</p>
                <p class="app_text_small_cont">Best food</p>
            </div>
            <div class="icon_pic">
                <ion-img src="../../assets/icon/get-started-icon-2.png"></ion-img>
            </div>
        </div>
        <div class="icon2">
            <div class="app_text2">
                <span class="app_text_first">Best</span> Food
                <p class="app_text_small">Experiences a world of food</p>
                <p class="app_text_small_cont">Best food</p>
            </div>
            <div class="icon_pic2">
                <ion-img src="../../assets/icon/get-started-icon-1.png"></ion-img>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="btn">
            <ion-button class="bton" fill="clear" color="light" (click)="gotoSignUp()">
                Get started
            </ion-button>
        </div>
        <!-- <div class="foot">

        </div> -->
    </div>
</ion-content>