<ion-content>
    <div class="main">
        <div class="logo">
            <ion-img src="../../assets/img/logo.png"></ion-img>
        </div>
        <div class="icon">
            <div class="app_text">
                <span class="app_text_first">Session</span> Expired
            </div>
            <p>You are already logged in to another device. Are you sure you want to login on
                this device? Previous login session will end.</p>
        </div>
    </div>
    <div class="footer">
        <div class="btn">
            <ion-button class="bton" fill="clear" color="light" (click)="gotoSignUp()">
                Sign Up
            </ion-button>
        </div>
    </div>
</ion-content>