<ion-content>
    <!-- <div class="backbtn">
        <ion-buttons slot="start" style="float:left;">
            <ion-button (click)="goBack()">
                <ion-icon name="ios-arrow-back" class="backicon"></ion-icon>
            </ion-button>
        </ion-buttons>
    </div> -->
    <div class="main">
        <div class="logo">
            <ion-img src="../../assets/img/logo.png"></ion-img>
        </div>
        <h5 class="app_text">Please enter the verification code sent to
            <br /> <span>
                {{l_phonCode}}{{l_phoneNo}}
            </span>
            <br /> to verify that you are the owner of this phone number</h5>
        <div class="round">
            <ion-row>
                <ion-col>
                    <ion-input class="ver" #Field1 type="tel" maxlength="1" max="1" [(ngModel)]="l_verifyCode1"
                        (keyup.enter)="verificationCode()" (keyup)="gotoNextField(Field2, $event.target.value)"
                        (ionChange)="verifyCodeValidation()"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-input class="ver" #Field2 type="tel" maxlength="1" max="1" [(ngModel)]="l_verifyCode2"
                        (keyup.enter)="verificationCode()" (keyup)="gotoNextField(Field3, $event.target.value)"
                        (ionChange)="verifyCodeValidation()"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-input class="ver" #Field3 type="tel" maxlength="1" max="1" [(ngModel)]="l_verifyCode3"
                        (keyup.enter)="verificationCode()" (keyup)="gotoNextField(Field4, $event.target.value)"
                        (ionChange)="verifyCodeValidation()"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-input class="ver" #Field4 type="tel" maxlength="1" max="1" [(ngModel)]="l_verifyCode4"
                        (keyup.enter)="verificationCode()" (ionChange)="verifyCodeValidation()"></ion-input>
                </ion-col>
            </ion-row>
        </div>
        <div class="app_text_small">
            <div class="code-text">
                <span class="">didn't get the code,
                    <span (click)="reSendCode()" class="resend-button" *ngIf="l_hidevalue==true">Re-send code
                    </span>
                    <span *ngIf="l_hidevalue==false" class="max-time"> {{maxTime}}</span>
                </span>
            </div>
                <h6 (click)="goBack()">SignUp with another phone number</h6>
        </div>
    </div>
    <div class="footer">
        <div class="btn">
            <ion-button (click)="verificationCode()" class="bton" fill="clear" color="light"
                [attr.disabled]="isbtnDisabled? true:null">
                NEXT
            </ion-button>
        </div>
        <!-- <div class="foot"></div> -->
    </div>
</ion-content>