<ion-content class="cont">
    <div class="main">
        <div class="photo">
            <div class="img">

            </div>
            <!-- <img class="img" src="../../assets/img/Welcome.jpg" alt=""> -->
        </div>
        <h5 class="app_text"> <span class="app_text_first">Welcome To </span>Our App</h5>
        <div class="app_text_small">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla accusantium asperiores facilis culpa
            quisquam obcaecati, nostrum architecto sapiente, voluptatibus corporis quam autem voluptates aperiam
            voluptate minus laboriosam ex quia harum!
        </div>
    </div>
    <div class="footer">
        <div class="btn">
            <ion-button class="bton" fill="clear" color="light" (click)="next()">
                Done
            </ion-button>
        </div>
    </div>
</ion-content>