.cont{
    --background: #f5f5f5;
}
.main{
    width: 100%;
    margin: 60px 0px 0px 0px; 
    float: left;
    .photo{
        margin: 0 auto;
        width: 78%;
        height: 285px;
        float: center; 
    }
    .img
    {
        width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px #969ba1;
    border-radius: 10px;
    background-size: cover;
     background-image: url('../../../assets/img/Welcome.jpg');     
    }
    .app_text{
        width: 70%;
        height: 20%;
        margin: 0 auto;
        padding: 30px 0px 0px 0px;
        color: #2e3842;
        font-size: 18px;
        float: center;
        text-align: center;
        font-family: 'Poppins'; 
        font-style: normal; 
        font-variant: normal; 
        line-height: 15px;
        font-weight: bold;
        .app_text_first{
            color: #fb630f;
        }
    }
    .app_text_small{
        width: 80%;
        height: 18%;
        padding: 15px 0px 0px 0px;
        margin: 0 auto;
        font-family: 'Poppins'; 
        font-style: normal; 
        font-variant: normal;
        font-size: 10px;
        text-align: center;
        font-weight: normal;
        color:#969ba1;
     }
}
.footer{
    width: 100%;
    height: 11%;
   // margin: 65px 0px 0px 0px;
    float: left;
    bottom: 0px;
    position: fixed; 
    .btn{
        width: 80%;
        height: 37px;
        margin: 0 auto; 
        padding: 0px 0px 0px 0px;
        border-radius: 9px;
        background-color: #fb630f;
        text-align: center;
        font-size: 25px;
        .bton{
            width: 100%;
            height: 37px;
            margin-top: -4px;
            padding: 0px;
            text-transform: capitalize;
        }
    }   
}