ion-content{
    --background: #f5f5f5;  
}
// .head-main{
//     width: 100%;
//     float: left;
//     background: #f5f5f5;
//     .main_menu{
//         width: 84%;
//         height:40px;
//         margin: 15px 0px 2px 12px;
//         color: white;
//         float: left;
//         .menu{
//             width: 10%;
//             height: 25px;
//             color: #2e3842;
//             padding: 0px 6px 6px 6px;
//             font-size: 22px;
//             float: left;
//         }
//         .text_logo{
//          width: 40%;
//          height: 25px;
//          margin: 0px 0px 0px 82px;
//          padding: 0px;
//          float: left;
//          font-size: 17px;
//          font-weight: bolder;
//          text-align: center;
//          color: #2e3842;
//          font-family:'Poppins';
//          font-style: normal; 
//          font-variant: normal; 
//         }
//     }
//     .notify{ 
//         width: 8%;
//         height: 10%;
//         float: right;
//         margin: 15px 9px 0px 0px;
//         color:#2e3842;
//         .notify-icon{
//             font-size: 22px;
//             float: right;
//             position: relative;
//         }
//         .notify-icon-blink{
//             font-size: 22px;
//             float: right;
//             position: relative;
//             animation:blinkingText 0.9s infinite;
//         }
//         @keyframes blinkingText{
//             0%{     color: rgb(236, 22, 22); }
//             49%{    color: transparent; }
//             50%{    color: transparent; }
//             99%{    color:transparent;  }
//             100%{   color: rgb(236, 22, 22); }
//         }
//     }
// }
// .head-main2{
//     width: 100%;
//     float: left;
//     background: #fb630f;
//     .main_menu{
//         width: 84%;
//         height:40px;
//         margin: 15px 0px 2px 12px;
//         color: white;
//         float: left;
//         .menu{
//             width: 10%;
//             height: 25px;
//             color: white;
//             padding: 0px 6px 6px 6px;
//             font-size: 22px;
//             float: left;
//         }
//         .text_logo{
//          width: 40%;
//          height: 25px;
//          margin: 0px 0px 0px 82px;
//          padding: 0px;
//          float: left;
//          font-size: 17px;
//          font-weight: bolder;
//          text-align: center;
//          color: white;
//          font-family:'Poppins';
//          font-style: normal; 
//          font-variant: normal; 
//         }
//     }
//     .notify{ 
//         width: 8%;
//         height: 10%;
//         float: right;
//         margin: 15px 9px 0px 0px;
//         color:white;
//         .notify-icon{
//             font-size: 22px;
//             float: right;
//             position: relative;
//         }
//         .notify-icon-blink{
//             font-size: 22px;
//             float: right;
//             position: relative;
//             animation:blinkingText 0.9s infinite;
//         }
//         @keyframes blinkingText{
//             0%{     color: rgb(236, 22, 22); }
//             49%{    color: transparent; }
//             50%{    color: transparent; }
//             99%{    color:transparent;  }
//             100%{   color: rgb(236, 22, 22); }
//         }
//     }
// }
.head-main{
    width: 100%;
    float: left;
    background: #f5f5f5;
    .main_menu{
        width: 84%;
        height:45px;
        margin: 12px 0px 2px 12px;
        color: white;
        float: left;
        .menu{
            width: 10%;
            height: 25px;
            color: #2e3842;
            padding: 0px 6px 6px 6px;
            font-size: 22px;
            float: left;
        }
        .text_logo{
         width: 40%;
         height: 25px;
         margin: 0px 0px 0px 82px;
         padding: 0px;
         float: left;
         font-size: 17px;
         font-weight: bolder;
         text-align: center;
         color: #2e3842;
         font-family:'Poppins';
         font-style: normal; 
         font-variant: normal; 
        }
    }
    .notify{ 
        width: 8%;
        height: 10%;
        float: right;
        margin: 20px 9px 0px 0px;
        color:#2e3842;
        .notify-icon{
            font-size: 22px;
            float: right;
            position: relative;
        }
        .notify-icon-blink{
            font-size: 22px;
            float: right;
            position: relative;
            animation:blinkingText 0.9s infinite;
        }
        @keyframes blinkingText{
            0%{     color: rgb(236, 22, 22); }
            49%{    color: transparent; }
            50%{    color: transparent; }
            99%{    color:transparent;  }
            100%{   color: rgb(236, 22, 22); }
        }
    }
}
.head-main2{
    width: 100%;
    float: left;
    background: #fb630f;
    .main_menu{
        width: 84%;
        height:50px;
        margin: 12px 0px 2px 12px;
        color: white;
        float: left;
        .menu{
            width: 10%;
            height: 25px;
            color: white;
            padding: 0px 6px 6px 6px;
            font-size: 22px;
            float: left;
        }
        .text_logo{
         width: 40%;
         height: 25px;
         margin: 0px 0px 0px 82px;
         padding: 0px;
         float: left;
         font-size: 17px;
         font-weight: bolder;
         text-align: center;
         color: white;
         font-family:'Poppins';
         font-style: normal; 
         font-variant: normal; 
        }
    }
    .notify{ 
        width: 8%;
        height: 10%;
        float: right;
        margin: 20px 9px 0px 0px;
        color:white;
        .notify-icon{
            font-size: 22px;
            float: right;
            position: relative;
        }
        .notify-icon-blink{
            font-size: 22px;
            float: right;
            position: relative;
            animation:blinkingText 0.9s infinite;
        }
        @keyframes blinkingText{
            0%{     color: rgb(236, 22, 22); }
            49%{    color: transparent; }
            50%{    color: transparent; }
            99%{    color:transparent;  }
            100%{   color: rgb(236, 22, 22); }
        }
    }
}
.main-text{
            width: 100%;
            float: left;
            padding: 0px 0px 0px 20px;
            color: #2e3842;
            font-weight: bolder;
            font-size: 20px;
            font-family:'Poppins';
            font-style: normal; 
            font-variant: normal; 
            line-height: 10px;
            margin-top: 10px;
            .main-text_small{
                padding: 0px 0px 0px 1px;
                font-size: 10px;
                font-weight: normal;
                color: #969ba1;
            }
}
// .search-bar{
//     width: 100%;
//     height: 40px;
//     float: left;
//     margin:0px;
//     padding: 10px 0px 10px 0px;
//     .bar{
//         width: 89%;
//         height: 40px;
//         float:center;
//         margin:0px auto;
//         padding: 5px 0px 0px 0px;
//         color: #969ba1;
//         border-radius: 50px; 
//         background-color: white;
//         box-shadow: 0 0 5px #d8d8d8 ;
//         .stext{
//             float: left;
//             height: 25px;
//             width: 86%;
//             padding: 4px 0px 0px 6px;
//             font-size: 15px;
//             text-align: left;
//             font-family:'Poppins';
//         }
//         .searchicon{
//             width: 12%;
//             height: 22px;
//             margin: 0px 0px 0px 12px;
//             float: left;
//             margin: 5px 0px 0px 5px;
//             font-size: 22px;
//         }
//     }
// }
.search-bar{
    width: 100%;
    height: 40px;
    float: left;
    margin:0px;
    padding: 0px 0px 10px 0px;
    .bar{
        width: 100%;
        height: 40px;
        float:center;
        margin:0px auto;
        padding: 5px 0px 0px 0px;
        color: #969ba1;
        border-radius: 50px; 
        background-color: white;
        box-shadow: 0 0 5px #d8d8d8 ;
        .stext{
            float: left;
            height: 25px;
            width: 86%;
            padding: 4px 0px 0px 6px;
            font-size: 15px;
            text-align: left;
            font-family:'Poppins';
        }
        .searchicon{
            width: 12%;
            height: 22px;
            margin: 0px 0px 0px 12px;
            float: left;
            margin: 5px 0px 0px 5px;
            font-size: 22px;
        }
    }
}
.slide{
    height: 150px;
    width: 100%;
    float: left;
    padding: 15px 0px 0px 20px;  
    border-radius: 90px;
} 
.slid{
    height: 170px;
    margin: 0px 0px 0px 2px;
}
.slid_newShop{
    height: 150px;
    margin: 0px 0px 0px 2px;
}
//Slider Offer
.maincard{
    width: 100%;
    height: 120px;
    margin: 0px 4px 0px 4px;
    border-radius: 10px;
}
    .card_pic{
        width: 100%;
        height: 100%;
        float: left;
        margin:0px;
        position: relative;
        z-index: 90;
        padding:0px;
    }
    .card_price{
        width:100%;
        margin: 7px 0px 0px 0px;
        float: left;
        padding: 0px;
        font-size: 15px;   
        position: absolute;
        z-index: 100;
            .disount{
                height: 20px;
                background-color: #fb630f;
                float: right;
                color: #fff;
                font-size: 8px;
                font-weight: bold;
                text-align: center;
                border-radius: 15px;
                margin:8px 12px 0px 0px;
                padding: 5px 8px 5px 8px;
                position: sticky;
            }
            .disount2{
                height: 20px;
                background-color: #fb630f;
                float: left;
                color: #fff;
                font-size: 8px;
                font-weight: bold;
                text-align: center;
                border-radius: 15px;
                margin:8px 0px 0px 12px;
                padding: 5px 8px 5px 8px;
                position: sticky;
            }
    }  
    .card_header{
        padding:0px 0px 0px 0px;
        margin: 0px 0px 0px 0px; 
        float: left; 
        width: 100%;
        .shop_name{
            width:100%;
            text-align: left;
            float: left;
            text-transform: capitalize;
        }
    }
    .body{
        width:100%;
        height:100%;
        float:left;
        //background-color:brown;
        position: relative;
        }
        .sub-body{
            width:100%;
            height:140px;
            background-color: #2e3842;
            opacity: 0.7;
            text-align:center;
            position: absolute;
             z-index: 90;
             float:left;
             bottom: 0;
            }
        .foot-body{
            height:54px;
            position: absolute;
            z-index: 90;
            float:left;
            bottom: 0;
            width: 100%;
            .shopName{
                width: auto;
                height:28px;
                text-align: left;
                color:white; 
                font-size: 18px; 
                margin: 0px 0px 2px 8px;
                opacity: 1;
                text-transform: capitalize;
                border-bottom: 1.5px solid #fb630f;
                position: inherit;
                font-weight: bold;
                font-family:'Poppins';
                font-style: normal; 
                font-variant: normal;
            }
            .adress{
                font-size: 8px;
                text-align: left;
                font-weight: bold;
                height:15px;
                 color:white; 
                 margin: 33px 0px 0px 8px;
                 opacity: 1;
                 text-transform: capitalize;
                font-family:'Poppins';
                font-style: normal; 
                font-variant: normal;
                .adress_icon{
                    float: left;
                    margin: 0px 0px 0px 0px;
                }
                h6{
                    font-size: 9px;
                    margin:  0px 0px 0px 2px;
                    padding: 0px 5px 0px px;
                    text-align: right;
                    float: left;
                }  
            }         
        }
//mainCard         
        .main{
            width: 100%;
            height: 100%;
            float: left;
            margin: 0px 0px 0px 0px;
            padding: 10px 0px 0px 12px; 
            .specialoffer{ 
                width: 100%;
                float: left; 
                h5{
                    padding: 5px 0px 5px 10px;
                    margin: 15px 0px 0px 0px;;  
                    color: #2e3842; 
                    font-weight: bold;  
                    font-family:'Poppins';
                    font-style: normal; 
                    font-variant: normal;      
                .viewall{
                    float:right;
                    font-size: 9px;
                    margin: 0px 15px 0px 0px;
                    padding: 6px 5px 0px 3px;
                    color:#969ba1;
                    font-family:'Poppins';
                    font-style: normal; 
                    font-variant: normal;
                }
                }
            }   
        }
 // Feature Shops
 .card_main_pic{
    height: 90px;
    width: 100%;
    margin: -25px 0px 0px 0px;
    float: left;
    position: absolute;
    z-index: 100;
    .card_main_pics{
        width: 81%;          
        margin: 0px auto;
        .card_pics{
            width: 80%;
            float: center;
            padding: 0px;
            border-radius: 15px;
            position: absolute; 
            z-index: 90;
            .pic{
                height:90px;
                width:100%;
                margin: 0px;
                padding: 0px;
                border-radius: 15px; 
                box-shadow: 0 0 5px #d8d8d8;
            }        
        }        
    .card_dis{
        width: 80%;
        height: 17px;
        float: left;
        box-align: bottom;
        margin: 8px 0px 0px 0px;
        position: absolute;
        z-index: 100; 
        bottom: 0px;
        .card_dis_text{
            height: 17px;
            background-color: #fb630f;
            float: right;
            color: #fff;
            font-size: 8px;
            font-weight: bold;
            text-align: center;
            border-radius: 15px;
            margin: 7px 12px 0px 0px;
            padding: 4px 6px 4px 6px;
            position: sticky;
        }
    } 
    }
}
 .card_main{
    width: 100%;
    height: 123px;
    float: left;
    margin: 42px 6px 0px 4px;
    box-shadow: 0 0 5px #d8d8d8;
    background-color: white;
    border-radius: 10px;
    .card_text{
    width: 85%;
    height: 65px;
    margin: 55px 22px 0px 8%;
    float: left;
    }
    .card_name_distance{
        width: 100%;
        float: left;
        .card_name{
            height: 16px;
            float: left;
            margin: 12px 0px 0px 6px;
            color: #2e3842;
            font-size: 13px;
            font-weight: bold;
            text-align: left;
            font-family:'Poppins';
            font-style: normal; 
            font-variant: normal;  
        }
        .card_distance{
            margin:17px 0px 0px 5px;
            color: #969ba1;
            text-align: right;
            font-weight: bolder;
            font-family:'Poppins';
            font-style: normal; 
            font-variant: normal;
            font-size: 7px;
            text-align:center;
            float:right;
            .card_distance_icon{
                float: left;
                margin: 0px 0px 0px 1px;
                transform: rotate(45deg);
            }
            h6{
                font-size: 7px;
                font-weight: bolder;
                margin:  0px 0px 0px 0px;
                padding: 0px 5px 0px 0px;
                float: right;
            }
        }
    }
    .card_adress{
        width: 70%;
        float: left;
        margin: 4px 0px 0px 5px;
        color: #969ba1;
        font-size: 7px;
        text-align: left;
        font-weight: bold;
        font-family:'Poppins';
        font-style: normal; 
        font-variant: normal;
        .card_adress_icon{
            float: left;
            color:#fb630f;
            margin: 1px 0px 0px 0px;
        }
        h6{
            font-size: 8px;
            margin:  0px 0px 0px 2px;
            padding: 0px 5px 0px 0px;
            text-align: right;
            float: left;
        }  
    }
    .card_mainRating{
        width: 70%;
        height: 10px;
        float: left;
        margin: 7px 0px 0px 5px;
        .card_rating{
            height: 10px;
            float: left;
            font-size:12px;     
        }
        label{
            float: left;
            font-size: 9px; 
            color:#969ba1; 
            margin:1px 0px 0px 6px;
            font-family:'Poppins';
            font-style: normal; 
            font-variant: normal;
            text-align: left;
           }    
    }
    .card_logo_FeaturedShop{
        width: 25%;
        margin: -5px 0px 0px 0px;
        height: 25px;
        float: left;
        .img{
            width: 100%;
            height: 100%;
        }     
    }
}
.review-rating{
    width: 40%;
    height: 30px;
    margin: 0px 0px 0px 2px; 
    float: right; 
    font-size:small; 
    .star_rating{
        color:#969ba1; 
        position: relative;
        z-index: 0;
        float: left;
    }    
  }
  .star_rating_color{
    color:#fece3a;
    position: absolute;
    float: left;
    z-index: 100;
}
//new shops
.card_main_pic_newShop{
    height: 70px;
    width: 100%;
    margin: -31px 0px 0px 0px;
    float: left;
    position: absolute;
    z-index: 100;
    .card_main_pics_newShop{
        width: 77%;          
        margin: 0px auto;
        .card_pics_newShop{
            width: 76%;
            float: center;
            padding: 0px;
            border-radius: 15px;
            position: absolute; 
            z-index: 90;
            .pic_newShop{
                height:70px;
                width:100%;
                margin: 0px;
                padding: 0px;
                border-radius: 15px; 
                box-shadow: 0 0 5px #d8d8d8;
            }        
        }        
    .card_dis_newShop{
        width: 75%;
        height: 9px;
        float: left;
        box-align: bottom;
        margin: 8px 0px 0px 0px;
        position: absolute;
        z-index: 100; 
        bottom: 0px;
        .card_dis_text_newShop{
            height: 15px;
            background-color: #fb630f;
            float: right;
            color: #fff;
            font-size: 6px;
            font-weight: bold;
            text-align: center;
            border-radius: 15px;
            margin: 0px 10px 0px 0px;
            padding: 4px 6px 0px 6px;
            position: sticky;
        }
    } 
    }
}
 .card_main_newShop{
    width: 100%;
    height: 93px;
    float: left;
    margin: 17px 6px 0px 4px;
    box-shadow: 0 0 5px #d8d8d8;
    background-color: white;
    border-radius: 10px;
    .card_text_newShop{
        width: 90%;
    height: 60px;
    margin: 40px 10px 0px 6px;
    float: left;
    }
    .card_name_distance_newShop{
        width: 100%;
        float: left;
        .card_name_newShop{
            height: 12px;
            float: left;
            margin: 8px 0px 0px 9px;
            color: #2e3842;
            font-size: 10px;
            font-weight: bold;
            text-align: left;
            font-family: 'Poppins';
            font-style: normal;
            font-variant: normal;
        }
        .card_distance_newShop{
            margin: 13px 0px 0px 5px;
            color: #969ba1;
            text-align: right;
            font-weight: bolder;
            font-family: 'Poppins';
            font-style: normal;
            font-variant: normal;
            font-size: 5px;
            text-align: center;
            float: right;
            .card_distance_icon_newShop{
                float: left;
                margin: 0px 0px 0px 1px;
                transform: rotate(45deg);
            }
            h6{
                font-weight: bolder;
                font-size: 6px;
                margin:  0px 0px 0px 0px;
                padding: 0px 5px 0px 0px;
                float: right;
            }
        }
    }
    .card_adress_newShop{
        width: 70%;
        float: left;
        margin: 6px 0px 0px 8px;
        color: #969ba1;
        font-size: 5px;
        text-align: left;
        font-weight: bold;
        font-family:'Poppins';
        font-style: normal; 
        font-variant: normal;
        .card_adress_icon_newShop{
            float: left;
            color:#fb630f;
            margin: 0px 0px 0px 0px;
        }
        h6{
            font-size: 6px;
            margin:  0px 0px 0px 2px;
            padding: 0px 5px 0px 0px;
            text-align: right;
            float: left;
        }  
    }
    .card_mainRating_newShop{
        width: 68%;
        height: 10px;
        float: left;
        margin: 5px 0px 0px 8px;
        .card_rating_newShop{
            height: 10px;
            float: left;
            font-size:9px;     
        }
        label{
            float: left;
            font-size: 7px; 
            color:#969ba1; 
            margin:0px 0px 0px 6px;
            font-family:'Poppins';
            font-style: normal; 
            font-variant: normal;
            text-align: left;
           }    
    }
    .card_logo_newShop{
        width: 21%;
        margin: -5px 0px 0px 0px;
        height: 20px;
        float: left;
        .img{
            width: 100%;
            height: 100%;
        }     
    }
}
// Shops
.shop_text{
    padding: 5px 0px 5px 10px;
    margin: 0px 0px 8px 0px;  
    color: #2e3842; 
    font-weight: bold;
    font-size: 18px;  
    font-family:'Poppins';
    font-style: normal; 
    font-variant: normal;      
.viewall{
    float:right;
    font-size: 9px;
    margin: 0px 15px 0px 0px;
    padding: 6px 5px 0px 3px;
    color:#969ba1;
    font-family:'Poppins';
    font-style: normal; 
    font-variant: normal;
}
}
.main_shops{
    width: 96%;
    height: 140px;
    float: left;
}
.main_card_pics_shops{
    height: 121px;
    width: 32%;
    margin: 0px 0px 0px 0px;
    float: left;
    position: absolute;
    z-index: 100;
    .card_pics_shops{
        height: 95px;
        width: 100%;
        margin: 18px 0px 0px 5px;
        float: left;
        padding: 0px; 
        .pic_shops{
            height:95px;
            width:100%;
            margin: 0px;
            padding: 0px;
            border-radius: 10px; 
            position: absolute; 
            z-index: 90;
            box-shadow: 0 0 5px #d8d8d8; 
        }
    }
}
.card_main_shops{
    height: 121px;
    width: 82%;
    float: left;
    margin: 5px 5px 7px 17%;
    border-radius: 10px;
    box-shadow: 0 0 5px #d8d8d8;
    background-color: white;
    .card_text_shops{
        width: 72%;
        height: 110px;
        float: left;
        margin: 0px 0px 0px 26%;
    }
    .card_name_distance_Shop{
        width: 100%;
        float: left;
        .card_name_Shop{
            height: 12px;
            float: left;
            margin: 15px 0px 0px 6px;
            color: #2e3842;
            font-size: 15px;
            font-weight: bold;
            text-align: left;
            font-family: 'Poppins';
            font-style: normal;
            font-variant: normal;
        }
        .card_distance_Shop{
            margin: 21px 3px 0px 0px;;
            color: #969ba1;
            text-align: right;
            font-weight: bolder;
            font-family: 'Poppins';
            font-style: normal;
            font-variant: normal;
            font-size: 8px;
            text-align: center;
            float: right;
            .card_distance_icon_Shop{
                float: left;
                margin: 0px 0px 0px 1px;
                transform: rotate(45deg);
            }
            h6{
                font-weight: bolder;
                font-size: 8px;
                margin:  0px 0px 0px 0px;
                padding: 0px 5px 0px 0px;
                float: right;
            }
        }
    }
    .card_adress_shops{
        width: 100%;
        height: 19px;
        float: left;
        margin: 8px 0px 0px 3px;
        text-align: left;
        font-family:'Poppins';
        font-style: normal; 
        font-variant: normal; 
        .card_adress_shops_icon{
            color: #fb630f;
            width: 10px;
            float: left;
            font-size: 7px;
            margin: 2px 0px 0px 0px;
        }
        h6{
            font-size: 9px;
            color: #969ba1;
            margin:  0px 0px 0px 0px;
            padding: 0px 7px 0px 0px;
        } 
    }
    .card_mainRating_newShop{
        width: 94%;
        height: 10px;
        float: left;
        margin: 4px 0px 0px 5px;
        .card_rating_newShop{
            height: 10px;
            float: left;
            font-size:10px;     
        }
        label{
            float: left;
            font-size: 7px; 
            color:#969ba1; 
            margin:0px 0px 0px 6px;
            font-family:'Poppins';
            font-style: normal; 
            font-variant: normal;
            text-align: left;
           }    
           .card_expire_offer_shops{
            width: 60%;
            height: 23px;
            float: right;
            margin: -8px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            font-size: 8px;
            color: #2e3842;
            text-align: right;
            font-family:'Poppins';
            font-style: normal; 
            font-variant: normal;
            font-weight: bold;
            .card_expire_offer_time_shops{
                width: 100%;
                height: 10px;
                float: right;
                font-family:'Poppins';
                font-style: normal; 
                font-variant: normal;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                font-size: 7px;
                font-size-adjust: inherit;
                font-weight: 900;
                color: #fb630f;
                text-align: right; 
            } 
        }
    }
    .card_offer_shops{
        width: 100%;
        height: 16px;
        float: left;
        margin: 12px 0px 0px 5px;
        .card_discount_shops{
            height: 21px;
            background-color: #fb630f;
            float: left;
            color: #fff;
            font-size: 9px;
            font-weight: bold;
            text-align: center;
            border-radius: 15px;
            margin: 0px 10px 0px 0px;
            padding: 6px 12px 6px 12px;
            position: sticky;
        }
        .card_logo_Shops{
            width: 25%;
            margin: 0px 9px 0px 0px;
            height: 25px;
            float: right;
            .img{
                width: 100%;
                height: 100%;
            }     
        }
    }
}