ion-content{
    --background: #f5f5f5;  
}
.head-main{
    width: 100%;
    float: left;
    background: #fb630f;
    .main_menu{
        width: 84%;
        height:40px;
        margin: 15px 0px 2px 12px;
        color: white;
        float: left;
        .menu{
            width: 10%;
            height: 25px;
            color: white;
            padding: 0px 6px 6px 6px;
            font-size: 22px;
            float: left;
        }
        .text_logo{
            width: 51%;
            height: 25px;
            margin: 0px 0px 0px 70px;
         padding: 0px;
         float: left;
         font-size: 17px;
         font-weight: bolder;
         text-align: center;
         color: white;
         font-family:'Poppins';
         font-style: normal; 
         font-variant: normal; 
        }
    }
    .notify{ 
        width: 8%;
        height: 10%;
        float: right;
        margin: 15px 9px 0px 0px;
        color:white;
        .notify-icon{
            font-size: 22px;
            float: right;
            position: relative;
        }
    }
}
.main_shops{
    width: 96%;
    height: 228px;
    float: left;
    margin-top: 22px;
}
// Shops
.card_main_pic{
    height: 152px;
    width: 100%;
    margin: -6px 0px 0px 0px;
    float: left;
    position: absolute;
    z-index: 100;
    .card_main_pics{
        width: 84%;          
        margin: 0px auto;
        .card_pics{
            width: 84%;
            float: center;
            padding: 0px;
            border-radius: 15px;
            position: absolute; 
            z-index: 90;
            .pic{
                height: 150px;
                width: 100%;
                margin: 0px;
                padding: 0px;
                border-radius: 15px;
                box-shadow: 0 0 5px #d8d8d8;
            }        
        }        
    .card_dis{
        width: 85%;
        height: 17px;
        float: left;
        box-align: bottom;
        margin: 8px 0px 0px 0px;
        position: absolute;
        z-index: 100; 
        bottom: 0px;
        .card_dis_text{
            height: 21px;
            background-color: #fb630f;
            float: right;
            color: #fff;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            border-radius: 15px;
            margin: 7px 12px 0px 0px;
            padding: 5px 12px 4px 12px;
            position: sticky;
        }
    } 
    .card_exp{
        width: 85%;
        height: 17px;
        float: left;
        box-align: bottom;
        margin: 0px 0px 0px 0px;
        position: absolute;
        z-index: 100;
        .card_exp_text{
            height: 21px;
            background-color: #fb630f;
            float: left;
            color: #fff;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            border-radius: 15px;
            margin: 0px 12px 0px 0px;
            padding: 5px 12px 4px 12px;
            position: sticky;
        }
    } 
    }
}
 .card_main{
    width: 98%;
    height: 167px;
    float: left;
    margin: 55px 0px 0px 11px;
    box-shadow: 0 0 5px #d8d8d8;
    background-color: white;
    border-radius: 10px;
    .card_logo{
        width: 16%;
        height: 39px;
        margin: 104px 0px 0px 23px;
        float: left;
        border-radius: 10px;
    //background-size: cover;
    //background-image: url('../../../assets/img/logo.png'); 
    .img{
        width: 100%;
        height: 100%;
    }
    }
    .card_text{
        width: 69%;
        height: 65px;
        margin: 90px 0px 0px 0px;
        float: left;
    }
    .card_name_distance{
        width: 100%;
        float: left;
        .card_name{
            height: auto;
            float: left;
            margin: 12px 0px 0px 6px;
            color: #2e3842;
            font-size: 15px;
            font-weight: bold;
            text-align: left;
            font-family:'Poppins';
            font-style: normal; 
            font-variant: normal;  
        }
        .card_distance{
            margin:17px 0px 0px 5px;
            color: #fb630f;
            font-size: 16px;
            float:right;
            .card_distance_icon{
                float: left;
                margin: 0px 0px 0px 0px;
            }
        }
    }
    .card_adress{
        width: 97%;
        float: left;
        margin: 0px 0px 0px 5px;
        color: #969ba1;
        font-size: 9px;
        text-align: left;
        font-weight: bold;
        font-family:'Poppins';
        font-style: normal; 
        font-variant: normal;
        .card_adress_icon{
            float: left;
            color:#fb630f;
            margin: 1px 0px 0px 0px;
        }
        h6{
            font-size: 10px;
            margin:  0px 0px 0px 2px;
            padding: 0px 5px 0px 0px;
            text-align: right;
            float: left;
        }  
    }
    .card_mainRating{
        width: 100%;
        height: 10px;
        float: left;
        margin: 7px 0px 0px 7px; 
        .textVisible{
            width:85%;
            height: 25px;
            margin: 0px 0px 0px 0px;
            float: left;
            color: green;
            padding: 0px;
            font-weight: bold;
            font-size: 10px;
        }
        .textHide{
            width:85%;
            height: 25px;
            margin: 0px 0px 0px 0px;
            float: left;
            padding: 0px;
            color: rgba(167, 19, 19, 0.87);
            font-weight: bold;
            font-size: 10px;
        }
        b{
            font-size: 10px;
            color:#969ba1;
            font-weight: 500;
            margin: 0px;
            padding: 0px;
           }
           .card_more{
            color:#969ba1;
            height: 10px;
            width: 8%;
            margin: 0px 5px 0px 0px;
            float: right;
            font-size: 18px;
            font-weight: bold;
            }
    }
}