ion-content{
    --background: #f5f5f5;  
}
.head-main{
    width: 100%;
    float: left;
    background: #fb630f;
    .main_menu{
        width: 84%;
        height:40px;
        margin: 15px 0px 2px 12px;
        color: white;
        float: left;
        .menu{
            width: 10%;
            height: 25px;
            color: white;
            padding: 0px 6px 6px 6px;
            font-size: 22px;
            float: left;
        }
        .text_logo{
            width: 51%;
            height: 25px;
            margin: 0px 0px 0px 70px;
         padding: 0px;
         float: left;
         font-size: 17px;
         font-weight: bolder;
         text-align: center;
         color: white;
         font-family:'Poppins';
         font-style: normal; 
         font-variant: normal; 
        }
    }
    .notify{ 
        width: 8%;
        height: 10%;
        float: right;
        margin: 15px 9px 0px 0px;
        color:white;
        .notify-icon{
            font-size: 22px;
            float: right;
            position: relative;
        }
    }
}
//Not Found
.noFoundText{
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 105%;
    margin: 68% 0px 0px 0px;
    color: #fb630f;
}
// Shops
.main_card_shops{
    width: 94%;
    margin: 0px auto;
}
.main_shops{
    width: 100%;
    height: 122px;
    float: left;
    margin-top: 15px;
    background-color: #f5f5f5;
}
.main_card_pics_shops{
    height: 121px;
    width: 32%;
    margin: 0px 0px 0px 0px;
    float: left;
    position: absolute;
    z-index: 100;
    .card_pics_shops{
        height: 95px;
        width: 100%;
        margin: 18px 0px 0px 5px;
        float: left;
        padding: 0px; 
        .pic_shops{
            height:95px;
            width:100%;
            margin: 0px;
            padding: 0px;
            border-radius: 10px; 
            position: absolute; 
            z-index: 90;
            box-shadow: 0 0 5px #d8d8d8; 
        }
    }
}
.card_main_shops{
    height: 121px;
    width: 82%;
    float: left;
    margin: 5px 5px 7px 60px;
    border-radius: 10px;
    box-shadow: 0 0 5px #d8d8d8;
    background-color: white;
    .card_text_shops{
        width: 72%;
        height: 110px;
        float: left;
        margin: 0px 0px 0px 70px;
    }
    .card_name_distance_Shop{
        width: 100%;
        float: left;
        .card_name_Shop{
            height: auto;
            float: left;
            margin: 15px 0px 0px 5px;
            color: #2e3842;
            font-size: 15px;
            font-weight: bold;
            text-align: left;
            font-family: 'Poppins';
            font-style: normal;
            font-variant: normal;
        }
    }
    .card_adress_shops{
        width: 100%;
        height: 19px;
        float: left;
        margin: 0px 0px 0px 3px;
        text-align: left;
        font-family:'Poppins';
        font-style: normal; 
        font-variant: normal; 
        .card_adress_shops_icon{
            color: #fb630f;
            width: 10px;
            float: left;
            font-size: 7px;
            margin: 2px 0px 0px 0px;
        }
        h6{
            font-size: 9px;
            color: #969ba1;
            margin:  0px 0px 0px 0px;
            padding: 0px 7px 0px 0px;
        } 
    }
    .card_logo_newShop{
        width: 94%;
        height: 10px;
        float: left;
        margin: 4px 0px 0px 5px;
        .card_logo_newShop{
            width: 25%;
            margin: 8px 0px 0px 0px;
            height: 26px;
            float: left;
            .img{
                width: 100%;
                height: 100%;
            }     
        }
    }
    .card_offer_shops{
        width: 100%;
        height: 16px;
        float: left;
        margin: 0px 0px 0px 5px;
        .card_discount_shops{
            height: 21px;
            background-color: #fb630f;
            float: left;
            color: #fff;
            font-size: 9px;
            font-weight: bold;
            text-align: center;
            border-radius: 15px;
            margin: 0px 10px 0px 0px;
            padding: 6px 12px 6px 12px;
            position: sticky;
        }
        .card_distance_Shop{
            margin: 28px 16px 0px 0px;
            color: #969ba1;
            text-align: right;
            font-weight: bolder;
            font-family: 'Poppins';
            font-style: normal;
            font-variant: normal;
            font-size: 20px;
            text-align: center;
            float: right;
            .card_distance_icon_Shop{
                color: #fb630f
            }
        }
    }
}
.footertext{
    height:50px; 
    text-align: center;
    float: center;
    font-weight: bold;
    padding: 8px;
    background-color: #f5f5f5;
    }
    .delete-text{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    font-weight:bold;
    text-align: center;
    background-color: #fb630f;
    }
    .btn{
        height: 37px;
        margin: 0px 0px 0px 0px;
    }